body{
    width:100%;
    background-color: #272f3d;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1{
    color:#f5f5f5;
    font-size: 8.2em;
    margin: 25px 0px 25px 0px;
}

h2{
    color:#f5f5f5;
    font-size: 2em;
    margin: 10px;
}

h3{
    font-size: 1.5em;
    font-weight: 800;
    margin:10px;
}

p{
    margin: 10px 10px 10px 10px;
    font-size: 1.25em;
    line-height: 1.5em;
}

img{
    width: 100%;
    height: auto;
    /* max-width: 325px; */
    margin:15px;
    padding: 0px;
}

#headshot{
    max-width: 350px;
    max-height: 350px;
    margin: 15px;
    display: flex;
}

.preview{
    max-width: 100%;
    margin:0px;
}

a{
    color:#f5f5f5;
    text-decoration: none;
}

a:hover{
    font-weight: 600;
}

button{
    background: #323e52;
    color:#f5f5f5;
    border:none;
    border-radius: 5px;
    height:30px;
    width:125px;
    margin: 0px 10px 0px 10px;
}

#navbar{
    background-color: #272f3d;
    height: 35px;
    width: 100%;
    border-bottom: 5px solid #45536c;
    color:#f5f5f5;
    top:0px;
    padding-top: 20px;
}

.navlink{
    margin: 10px 10px 10px 20px;
}

.center{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.wrapper{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content{
    background: rgba(255, 255, 255, 0.25);
    max-width: 1250px;
    color: #2d2d2d;
    margin:10px 10px 100px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    float: left;
    z-index: 100;
}

.block{
    background: rgba(255, 255, 255, 0.4);
    padding:5px;
    margin: 10px;
    /* max-width: 810px; */
}

.no-bg{
    background: none;
}

.narrower{
    max-width: 810px;
}

#links{
    background: rgba(255, 255, 255, 0.4);
}

.logo{
    max-width: 50px;
    margin: 10px 5px 10px 23px;
    border-radius:15px;
    border: solid 2px transparent;
}

.logo:hover{
    border-radius:15px;
    border: solid 2px #cc9090;
    background-color: #cc9090;
}

button:hover{
    background: #283242;
    font-weight: bold;
}

.full{
    width: 100%;
}

.project{
    max-width: 355px;
    min-height: 425px;    
    margin:10px;
    float:left;
}

.contact{
    width:450px;
    margin: 10px 25px 10px 25px;
    float:left;
}

.map{
    width:auto;
    max-width: 650px;
    float:left;
    margin-left:25px;
    margin-bottom:25px;
}

.hi-viz{
    font-size: 2em;
    color: #2d2d2d;
}

.extra-opaque{
    background: rgba(255, 255, 255, 0.75);
}


/*create shape on bg */
.shape1 {
    /*former background-color: #EA9E00; Yellow */
    width: 0;
	height: 0;
	border-top: 350px solid transparent;
	border-right: 650px solid #576480;
    border-bottom: 800px solid transparent;
    position: fixed;
    right: 0px;
    top:0px;
    z-index: -2;
    background-attachment: scroll;
}

.shape2{
    /*former background-color: #620037; Magenta */
    width: 0;
	height: 0;
	border-top: 700px solid transparent;
	border-left: 500px solid #b45c5c;
    border-bottom: 300px solid transparent;
    position: fixed;
    z-index: -1;
    top: 10px;
    background-attachment: scroll;
}

#top-icon{
    position:fixed;
    bottom:1.5em; 
    right: 0.25em;
    max-width: 75px;
    background-attachment: scroll;
    z-index: 2000;
}

/*Responsivity*/

/*smallest screens*/
@media screen and (max-width:480px){ 
    h1{
        font-size: 2em;
        margin-left: 10px;
    }

    img{
        max-width: 100%;
        margin-left:0px;
    }

    #headshot{
        max-width: 30%;
        height:auto;
        border-radius: 100px;
        position: relative;
        left: 30%;
    }
    
    .content{
        width: 100%;
        margin-left: 0px;
        margin-right:0px;
        display: table;
        margin: 0 auto;
    }

    .block{
        max-width: 100%;
        margin-left: 0px;
        margin-right:0px;
    }

    .logo{
        margin-left: 18px;
        margin-right: 0px;
    }

    .project{
        max-width:100%;
        margin-left:0px;
    }

    .preview{
        max-width: 100%;
        margin:0px;
    }

    button{
        width: 120px;
    }

    .hi-viz{
        font-size: 1.5em;
    }

    .contact{
        max-width: 95%;
    }

    .map{
        display:none;
    }

    #top-icon{
        max-width: 50px;
    }
}

/*mid-size screens*/
@media screen and (min-width: 481px) and (max-width:800px){
    h1{
        font-size: 3em;
        margin-left: 10px;
    }

    img{
        max-width: 100%;
        margin-left:0px;
    }

    /* #headshot{
        max-width: 300px;
    } */
    
    .content{
        max-width: 100%;
        margin-left: 0px;
        margin-right:0px;
    }

    .block{
        max-width: 100%;
        margin-left: 0px;
        margin-right:0px;
    }

    /* .logo{
        margin-left: 18px;
        margin-right: 0px;
    } */

    .project{
        max-width:100%;
        margin-left:0px;
    }

    .preview{
        max-width: 100%;
        margin-right:0px;
    }

    button{
        width: 120px;
    }

    .hi-viz{
        font-size: 1.5em;
    }

    .contact{
        max-width: 95%;
    }

    .map{
        display:none;
    }

    #top-icon{
        max-width: 70px;
    }
}

@media screen and (min-width:801px) and (max-width:1200px){
    h1{
        font-size: 5em;
        margin-left: 10px;
    }

    img{
        max-width: 100%;
        margin-left:15px;
    }

    /* #headshot{
        max-width: 300px;
        max-height: 300px;
    } */
    
    .content{
        max-width: 100%;
        margin-left: 20px;
        margin-right:0px;
    }

    .block{
        max-width: 100%;
        margin-left: 0px;
        margin-right:0px;
    }

    /* .logo{
        margin-left: 18px;
        margin-right: 0px;
    } */

    .project{
        max-width:100%;
        margin-left:0px;
    }

    .preview{
        max-width: 100%;
    }

    /* button{
        width: 150px;
        margin-left:150px;
    } */

    .hi-viz{
        font-size: 1.5em;
    }

    .contact{
        max-width: 90%;
    }

    #top-icon{
        max-width: 75px;
    }
}